asgiref==3.5.2
attrs==21.4.0
Django==4.0.6
django-cors-headers==3.13.0
django-filter==22.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
drf-spectacular==0.23.0
drf-spectacular-sidecar==2022.7.1
inflection==0.5.1
jsonschema==4.7.2
psycopg2==2.9.3
PyJWT==2.4.0
pyrsistent==0.18.1
pytz==2022.1
PyYAML==6.0
sqlparse==0.4.2
tzdata==2022.1
uritemplate==4.1.1
